{% extends 'core/base.html '%}

{% block content %}

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-3">
                <h1 class="title">Login Page</h1>
                <form action="." method="post">
                    {% csrf_token  %}

                     {{ form.as_p }}
                     
                     <div class="field">
                        <div class="control">
                            <button class="button is-success">Login up</button>
                        </div>

                     </div>
                </form>
            </div>

        </div>

    </div>


</div>
  
{% endblock %}